output/
ollama/
venv/
temp/
__pycache__/
modules/__pycache__/
.env
*.mp4
*.wav
*.mp3
*.webm
*.mov
*.avi
*.mkv
*.pt
whisper-cpp/models/*.bin
whisper-cpp/bin/libggml-cuda.so.0
whisper-cpp/bin/libggml-cuda.so
whisper-cpp/bin/libggml-cuda.so.*
